---
import Layout from '../layouts/Layout.astro';
import TripTable from '../components/TripTable.svelte';
import type { DestInfo } from '../components/includes';

const destInfos: DestInfo[] = [
	{
		cityName: 'Tokyo',
		photoSrcDir: '../../public/tokyo1',
		photosSrc: [],
		transportSrc: '/assets/airplane1_red.png',
		dateString: 'April 5 - 7'
	},
	{
		cityName: 'Takayama',
		photoSrcDir: '../../public/takayama',
		photosSrc: [],
		transportSrc: '',
		dateString: 'April 8 - 10'
	},
	{
		cityName: 'Kanazawa',
		photoSrcDir: '../../public/kanazawa',
		photosSrc: [],
		transportSrc: '',
		dateString: 'April 11 - 14'
	},
	{
		cityName: 'Hiroshima',
		photoSrcDir: '../../public/hiroshima',
		photosSrc: [],
		transportSrc: '',
		dateString: 'April 15 - 16'
	},
	{
		cityName: 'Miyajima',
		photoSrcDir: '../../public/miyajima',
		photosSrc: [],
		transportSrc: '',
		dateString: 'April 17'
	},
	{
		cityName: 'Okayama',
		photoSrcDir: '../../public/okayama',
		photosSrc: [],
		transportSrc: '',
		dateString: 'April 18 - 19'
	},
	{
		cityName: 'Tokyo',
		photoSrcDir: '../../public/tokyo2',
		photosSrc: [],
		transportSrc: '',
		dateString: 'April 20'
	}
];


---

<Layout title="Japan 2023">
	<main>
		<h1>Our 2003 Japan Trip</h1>
		<TripTable destInfos={destInfos} client:idle/>
	</main>
</Layout>

<style>
	html {
		background-color: bisque;
	}
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
</style>
