---
import { getCollection } from 'astro:content';
import type { DestInfo } from '../includes';
import Layout from '../layouts/Layout.astro';
import TripTable from '../components/TripTable.svelte';

const allDestPosts = await getCollection('destinations');

const justDestPosts = (dest:string) => {
	return allDestPosts.filter((post) => (post.data.destination === dest)).sort((postA, postB) => (postA.data.order - postB.data.order))
}

const destInfos: DestInfo[] = [
	{
		cityName: 'Tokyo',
		collection: justDestPosts('Tokyo1'),
		transportSrc: '/assets/airplane1_red.png',
		dateString: 'April 5 - 7'
	},
	{
		cityName: 'Takayama',
		collection: justDestPosts('Takayama'),
		transportSrc: '',
		dateString: 'April 8 - 10'
	},
	{
		cityName: 'Kanazawa',
		collection: justDestPosts('Kanazawa'),
		transportSrc: '',
		dateString: 'April 11 - 14'
	},
	{
		cityName: 'Hiroshima',
		collection: justDestPosts('Hiroshima'),
		transportSrc: '',
		dateString: 'April 15 - 16'
	},
	{
		cityName: 'Miyajima',
		collection: justDestPosts('Miyajima'),
		transportSrc: '',
		dateString: 'April 17'
	},
	{
		cityName: 'Okayama',
		collection: justDestPosts('Okayama'),
		transportSrc: '',
		dateString: 'April 18 - 19'
	},
	{
		cityName: 'Tokyo',
		collection: justDestPosts('Tokyo2'),
		transportSrc: '',
		dateString: 'April 20'
	}
];

---

<Layout title="Japan 2023">
	<main>
		<h1>Our 2023 Japan Trip</h1>
		<TripTable destInfos={destInfos} client:idle/>
	</main>
</Layout>

<style>
	html {
		background-color: bisque;
	}
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: calc(1vw + 1vh + 2.2vmin);
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
</style>
